<div class="panel panel-default">
	<strong><%= club_admins.user.username %> :
	"<%=club_admins.position%>"</strong> <br>
	&nbsp;&nbsp;&nbsp;Phone: <%=club_admins.phone%><br>
	&nbsp;&nbsp;&nbsp;Email: <%=club_admins.user.email%><br>
	
</div>

