<div class="panel panel-default">
	<strong><%= club_events.name %> </strong>
	<% if user_signed_in? && is_club_current_admin?(@club.id)%>
	<td><%= link_to 'Edit', edit_event_path(club_events) %></td>
	<td><%= link_to 'Remove', club_events, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	<br />
</div>
