<div class="panel panel-default">
	<strong><%= link_to club_events.name, club_events %> </strong>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<% if user_signed_in? && is_club_current_admin?(@club.id)%>
	<td><%= link_to 'Edit', edit_event_path(club_events) %></td>
	<% end %>
	<br />
</div>
