
<h1 class="custom">Club Biz</h1>
<br>
<br>

<% @events.each do |temp_event| %>
<% if temp_event.image?%>
	<%= image_tag temp_event.image.url(:medium) %>
<% end %>

<% if temp_event.image2? %>
  <%= image_tag temp_event.image2.url(:medium) %>
<% end %>

<% if temp_event.image3? %>
  <%= image_tag temp_event.image3.url(:medium) %>
<% end %>

<%end%>

