
h1, h2{
	color:#68217a;
	text-align: center;
	font-style:bold;
	font-size: 50px;
}

h1.custom{

    font-size:100px; 
    margin-top:100px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    text-align: center;"

}

td,th{
	color:#68217a;
	text-align: center;
}

p{
	color:#68217a;
}


#navbar{
	background-color: #68217a;
}

form.custom {
    width:400px;
    margin-right:auto;
    margin-left:auto;
    background:#FCFCFC;
    padding:30px 30px 20px 30px;
    box-shadow:rgb(191,191,191) 0 3px 10px -1px;
    color:#666666;
    border-radius:5px;
    font-size:14px;
}

table, td, th {
    border:1px solid #68228B;
    background-color:white;
}

table {
    text-align:center;
    width:100%;
    border-collapse:collapse;
    box-shadow: 20px 20px 30px #aaaaaa;
    border-style: ridge;
}

th {
    font-style:bold;
    background: #68217a;
    color:white;
}

th, td {
    padding-top:10px;
    padding-bottom:10px;
}

div.home{
    text-align:center;
    margin-right:auto;
    margin-left:auto;
}
